<nav class="links">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/nwgat"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/nwgat"><i class="fa fa-fw fa-github-square"></i></a></li>
        <li class="mail"><a title="Mail" href="mailto=wiak@nwgat.ninja"><i class="fa fa-fw fa-envelope-o"></i></a></li>
    </ul>
</nav>
